@page
@model WebApplication1.Pages.TableBookingFormPubModel
@{
    Layout = null;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1 style="text-align: center;">Booking&nbsp;&nbsp;</h1>
    <p><span style="color: #ff0000;">@Model.Message</span></p>
    <p>Date: @Model.Date</p>
    <form method="post" asp-page="TableBookingFormPub">
        Time:
        <select asp-for="Time" name="time">
            @foreach (var time in Model.filltimes)
            {
                <option>@time.TimeSet</option>
            }
        </select>
        <br />
        <table style="height: 17px; width: 100%; border-collapse: collapse; border-style: solid;" border="1">
            <tbody>
                <tr style="height: 17px;">
                    <th style="width: 12.5%; height: 17px;">Table</th>
                    <th style="width: 12.5%; height: 17px;">Description</th>
                    <th style="width: 12.5%; height: 17px;">Max Occupancy</th>
                    <th style="width: 12.5%; height: 17px;"></th>
                </tr>
                @foreach (var table in Model.tablesInfo)
                {
                    <tr>
                        <td style="text-align: center;">@Html.DisplayFor(modelItem => table.TableName)</td>
                        <td style="text-align: center;">@Html.DisplayFor(modelItem => table.TableDescription)</td>
                        <td style="text-align: center;">@Html.DisplayFor(modelItem => table.MaxNo)</td>
                        <td style="text-align: center;"><input type="submit" value="Book" asp-page-handler="MakeBooking" asp-route-id=@table.TableId /></td>
                    </tr>
                }
            </tbody>
        </table>
        <p style="text-align: left;">
            <input type="submit" value="Back" asp-page-handler="Back" style="height:3em; width: 20%;" />
        </p>
    </form>
</body>
<div>
    <footer class="border-top footer text-muted">
        <p class="container" style="font-size:50%"><em>100438521 - Pub Booking</em></p>
    </footer>
</div>
